@-webkit-keyframes grow {
	from{font-size:200%;}
	to{font-size:100%;}
}

@media only screen and (max-width: 640px) {
	.bar_item {
		display: none;
	}

	.menu-icon {
		display: inline-block;
	}

	#map-canvas {
		width: 90%;
		left:5%;
		margin-bottom: 5%;
	}

}

@media only screen and (min-width: 640px) {

	.menu-icon {
		display: none;
	}

	#map-canvas {
		width: 40%; 
		margin-left: 5%;
		margin-right: 5%;
	}
}

.menu-icon {
	width: 40px;
	height: 40px;
	color: #FFF;
}

.menu-icon > span {
	font-size: 20px;
	line-height: 40px;
}

.menu-icon:hover{
	background-color: #FFF;
	color: #000;
}

.temp {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.8);
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.temp > div {
	text-align: center;
	transform:translateY(calc(-50% + 2.5em));
	-ms-transform:translateY(calc(-50% + 2.5em));
	-webkit-transform:translateY(calc(-50% + 2.5em));
	padding-right: 5%;
	padding-left: 5%;
}

.temp a {
	color:#FFF;
}

#logo {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 4em;
}

#you_go{
	-webkit-animation: grow 5s;
}

a:hover{
	text-decoration: none;
}

.landingText {
	top: 50%;
 	-webkit-transform: translateY(calc(-50% + 200px));
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.landingText > h1 {
	font-size: 10vmin;
}

#bottomIMG {
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}

#landingScroll {
	background: url("../img/background/Thatone.jpg") 0 0 fixed;
	background-size: 100% 800px;
	background-repeat: no-repeat;
    margin: 0 auto; 
    position: relative; 
    padding: 100px 0;
    height:80%;
}

#data-container {
	height: 100%;
}

#map-canvas {
	height:50%;
	float: left;
}